body {
    font-family: Arial, sans-serif;
    background-color: #555555;
  }
  
  a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #ff0000;
  }
  
  
  .nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-menu li {
    margin: 0 10px;
  }
  
  .nav-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-menu li a:hover {
    color: #ff0000;
  }
  